*,
*:before,
*:after {
  font-family: Roboto, Noto Sans, sans-serif;
  margin: auto;
}
.width {
  width: 1200px;
}
.name {
  border-bottom: 2px solid black;
  padding-bottom: 0px;
  margin-bottom: 51px;
}
h1 {
  font-size: 80px;
  line-height: 110px;
  width: 264px;
  margin: 0px;
}
.profile {
  width: 324px;
  height: 324px;
  margin-bottom: -6px;
}
h5 {
  font-size: 32px;
  border-bottom: 1px solid black;
  margin-bottom: 16px;
  padding-bottom: 8px;
  margin-top: 55px;
}
.highlight {
  font-size: 24px;
  color: #a00404;
  padding-left: 16px;
}
p {
  font-size: 24px;
  margin-bottom: 24px;
}
.blue-bg {
  display: flex;
  flex-direction: column;
  background: #415165;
  color: white;
  margin-top: 48px;
  text-align: center;
}
.blue-bg h5 {
  border-bottom: 1px solid white;
  padding-top: 24px;
  margin-top: 0;
  text-align: center;
}
.blue-bg span {
  color: white;
}

.blue-bg .skills {
  display: inline-block;
  border-left: 1px solid white;
  padding-left: 24px;
  margin: 36px auto;
  justify-content: center;
}
.blue-bg p {
  text-align: left;
  margin-bottom: 16px;
}
.experience {
  border-left: 1px solid #96a9c4;
  padding-left: 24px;
}
.experience .text {
  font-size: 20px;
}
.contact {
  display: inline-block;
}
.contact p {
  text-align: center;
}
img {
  margin-right: 24px;
  margin-bottom: 36px;
}
